<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <script>
      let url = 'http://www.qq.com:8080?a=1&b=2'
      function getVal(url) {
        let obj = {
          proto: '',
          center: '',
          port: '',
          params: {},
        }
        obj.proto = url.split(':')[0]
        obj.center = url.split('//')[1].split(':')[0]
        obj.port = url.split(':')[2].split('?')[0]
        let params = url.split('?')[1]
        let keyStr = params.split('&')
        keyStr.forEach((v) => {
          let str = v.split('=')
          obj.params[str[0]] = str[1]
        })
        return obj
      }
      getVal(url)
      clog(getVal(url))
    </script>
  </body>
</html>
