.icon {
  width: 22px;
  height: 22px;
  font-size: 20px;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

// .icon-delete-red {
//   cursor: pointer;
//   width: 20px;
//   height: 20px;
//   display: inline-block;
//   background: url(../../assets/img/icon/delete.png) no-repeat 0 0;
//   background-size: 100% auto;
//   vertical-align: top;
//   margin-top: 6px;
//   margin-left: 5px;
// }

// .icon-new {
//   cursor: pointer;
//   width: 20px;
//   height: 20px;
//   display: inline-block;
//   background: url(../../assets/img/icon/new.png) no-repeat 0 0;
//   background-size: 100% auto;
//   vertical-align: top;
//   margin-top: -6px;
// }

// .ic-delete {

//   background: url(../../assets/img/icon/del.png) no-repeat 0 0;
//   background-size: 100% auto;
// }

// .ic-upload {
//   background: url(../../assets/img/icon/upload.png) no-repeat 0 0;
//   background-size: 100% auto;
// }

// .ic-filter {
//   background: url(../../assets/img/icon/filter.png) no-repeat 0 0;
//   background-size: 100% auto;
// }

.ic-edit {
  background: url(../../assets/img/edit.png) no-repeat 0 0;
  background-size: 100% auto;
}

// .ic-play {
//   background: url(../../assets/img/icon/play.png) no-repeat 0 0;
//   background-size: 100% auto;
// }

// .icon-pause {
//   background: url(../../assets/img/icon/pause.png) no-repeat 0 0;
//   background-size: 100% auto;
// }
// .ic-copy {
//   background: url(../../assets/img/icon/copy.png) no-repeat 0 0;
//   background-size: 100% auto;
// }